#login li.link {
	margin-top: 5px;
}

ul {
	padding: 0;
	margin: 0 0 20px 0;
	font-weight: normal;
}

ul li {
	padding: 5px 0;
}

ul li input[type="text"], ul li input[type="password"] {
	width: 200px; 
}