
_____________________________________________________________________________________________________________
<DATE: 8/12/2014; TIME: 2pm> 

Hi Marco,
 
please find attached the programming challenge documents that you can send to Ernst.
 
Regarding the deadline, I would suggest the 15th of December, 18.00 CET.
 
Best regards / Schöne Grüße
Marc

SEE: 
	./challenge/20141208_GWSProgrammingChallenge.pdf
	./challenge/GWS_sampleInputData.xlsx

_____________________________________________________________________________________________________________